body{
    background-color: aqua;
    font-size: 50px;
}
#head{
    background-color: tomato;
    font-size: 70px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:whitesmoke;
    border-style: dotted;
    border-radius: 30px;
    border-width: 5px;
    border-color: silver;
    padding: 1px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
#des{
    background-color: aquamarine;
    text-align: center;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: dashed;
    width: 500px;
    height:330px;
    margin-left: 370px;
    border-width: 10px;
    border-radius: 15px;
}
#take{
    background-color: bisque;
    font-size: 40px;
    border-style:ridge;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 2px;
    text-align: center;
}
#submit{
    background-color: black;
    color: red;
    margin-top: 2px;
    font-size: 30px;
    border-radius: 20px;

}
#ans{
    background-color: springgreen;
    color: brown;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
